<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @phone.description %>
</p>

<p>
  <strong>Img:</strong>
  <%= @phone.img %>
 </p>
<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
